{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        <h1>Download FILE!</h1>
        <p>You file is download in the the following directory. <b><strong>C:User:Public:Public Downloads:</strong></b></p> <br/>
          <p>Run this file and check your <strong>MY SOFTWARES</strong> tab to find your required software</p>
          <p> Click on the button to go the homepage.</p>
      </div>
    </div>
<div align="center">
    <form action="homepage/" >
        <button type="submit" value="Submit" class="btn btn-primary">Homepage &raquo;</button>
    </form>
</div>
{% endblock %}